{% extends 'base.html.twig' %}
{% import 'macros/post.html.twig' as p %}
{% import 'macros/game.html.twig' as g %}

{% block categories %}
    <!-- START: Categories -->
    {% include 'platform.html.twig' %}
    <!-- END: Categories -->
{% endblock %}

{% block last_news %}
<!-- START: Latest News -->
<div class="nk-gap-2"></div>
<h3 class="nk-decorated-h-2"><span><span class="text-main-1">Latest</span> News</span></h3>
<div class="nk-gap"></div>
<div class="nk-news-box">
    <div class="nk-news-box-list">
        <div class="nano">
            <div class="nano-content">
                {% for post in posts %}
                    {{ p.print_scroll_posts(post) }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="nk-news-box-each-info">
        <div class="nano">
            <div class="nano-content">
                <!-- There will be inserted info about selected news-->
                <div class="nk-news-box-item-image">
                    <img src="" alt="">
                    <span class="nk-news-box-item-categories">
                        <span class="bg-main-4"></span>
                    </span>
                </div>
                <h3 class="nk-news-box-item-title"></h3>
                <div class="nk-news-box-item-text">
                    <p></p>
                </div>
                <a href="" class="nk-news-box-item-more">Read More</a>
                <div class="nk-news-box-item-date">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nk-gap-2"></div>
<div class="nk-blog-grid">
    <div class="row">
        {% for post in posts %}
            {% if loop.index <= 4 %}
                {{ p.print_posts(post) }}
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- END: Latest News -->
{% endblock %}

{% block main %}

    <div class="nk-gap-2"></div>
    <div class="row vertical-gap">
        <div class="col-lg-8">
            <!-- START: Latest Posts -->
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Latest</span> Posts</span></h3>
            <div class="nk-gap"></div>
            <div class="nk-blog-grid">
                <div class="row">
                    {% for post in posts %}
                        {% if loop.index <= 2 %}
                            {{ p.print_latest(post) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- END: Latest Posts -->

            <!-- START: Tabbed News  -->
            <div class="nk-gap-3"></div>
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Tabbed</span> News</span></h3>
            <div class="nk-gap"></div>
            <div class="nk-tabs">

                <ul class="nav nav-tabs nav-tabs-fill" role="tablist">
                    {% for topic in topics %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.index == 1 %}active{% endif %}" href="#{{ topic.slug }}" role="tab" data-toggle="tab">{{ topic.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">

                    {% for topic in topics %}
                        <div role="tabpanel" class="tab-pane fade show {% if loop.index == 1 %}active{% endif %}" id="{{ topic.slug }}">
                            <div class="nk-gap"></div>
                            <!-- START: Action Tab -->
                            {% for post in posts %}
                                {% if post.topic.slug == topic.slug %}
                                    {{ p.tab(post) }}
                                {% endif %}
                            {% endfor %}
                            <!-- END: Action Tab -->
                        </div>
                    {% endfor %}

                </div>
            </div>
            <!-- END: Tabbed News -->

{#            <!-- START: Best Selling -->#}
{#            <div class="nk-gap-3"></div>#}
{#            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Best</span> Selling</span></h3>#}
{#            <div class="nk-gap"></div>#}
{#            <div class="row vertical-gap">#}
{#
{#            </div>
{#            <!-- END: Best Selling -->#}
        </div>
        <div class="col-lg-4">

            <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                <div class="nk-widget">
                    <div class="nk-widget-content">
                        <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Type something...">
                                <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> Recent</span></h4>
                    <div class="nk-widget-content">
                        {% for game in topCurrent %}
                            {{ g.print_recents_games(game) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title"><span><span class="text-main-1">Most</span> Popular</span></h4>
                    <div class="nk-widget-content">
                        {% for game in topPopular %}
                            {{ g.print_most_popular(game) }}
                        {% endfor %}
                    </div>
                </div>
            </aside>
            <!-- END: Sidebar -->
        </div>
{% endblock %}

{% block latest_posts %}
    {% for post in posts %}
        {% if loop.index <= 2 %}
            {{ p.latest_posts_footer(post) }}
        {% endif %}
    {% endfor %}
{% endblock %}