{% macro print_comment(comment) %}
<div class="nk-comment">
    <div class="nk-comment-meta">
        <img src="{{ asset('template/assets/images/avatar-2.jpg') }}"
             alt="{{ comment.user.email }}"
             class="rounded-circle" width="35"> by
        <a href="mailto:{{ comment.user.email }}">{{ comment.user.email }}</a> in {{ comment.createdAt|date}}
    </div>
    <div class="nk-comment-text">
        <p>{{ comment.message }}</p>
    </div>

</div>
{% endmacro %}