{% macro print_best_selling(game) %}
    <div class="col-md-6">
        <div class="nk-product-cat">
            <a class="nk-product-image" href="{{ path('app_game', { 'slug' : game.slug }) }}">
                <img src="assets/images/product-11-xs.jpg" alt="She gave my mother">
            </a>
            <div class="nk-product-cont">
                <h3 class="nk-product-title h5"><a href="{{ path('app_game', { 'slug' : game.slug }) }}">She gave my mother</a></h3>
                <div class="nk-gap-1"></div>
                <span class="nk-product-rating">
                    <span class="nk-product-rating-front" style="width: 60%;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="nk-product-rating-back">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </span>
                <div class="nk-gap-1"></div>
                <div class="nk-product-price">€ 14.00</div>
                <div class="nk-gap-1"></div>
                <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro print_recents_games(game) %}
<div class="nk-widget-post">
    <a href="{{ path('app_game', { 'slug' : game.slug }) }}" class="nk-post-image">
        <img src="assets/images/post-1-sm.jpg" alt="">
    </a>
    <h3 class="nk-post-title"><a href="{{ path('app_game', { 'slug' : game.slug }) }}">Smell magic in the air. Or maybe barbecue</a></h3>
    <div class="nk-post-date"><span class="fa fa-calendar"></span> Sep 18, 2018</div>
</div>
{% endmacro %}

{% macro print_most_popular(game) %}
<div class="nk-widget-post">
    <a href="{{ path('app_game', { 'slug' : game.slug }) }}" class="nk-post-image">
        <img src="assets/images/product-1-xs.jpg" alt="So saying he unbuckled">
    </a>
    <h3 class="nk-post-title"><a href="{{ path('app_game', { 'slug' : game.slug }) }}">So saying he unbuckled</a></h3>
    <span class="nk-product-rating">
    <span class="nk-product-rating-front" style="width: 80%;">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </span>
    <span class="nk-product-rating-back">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </span>
</span>
    <div class="nk-product-price">€ 23.00</div>
</div>
{% endmacro %}

{% macro print_catalog_games(game) %}
    <div class="col-lg-6">
        <div class="nk-product-cat-2">
            <a class="nk-product-image" href="{{ path('app_game', { 'slug' : game.slug }) }}">
                <img src="{{ asset('uploads/games/' ~ game.image ) }}" alt="{{ game.slug }}" style="width: 245px;height: 350px">
            </a>
            <div class="nk-product-cont">
                <h3 class="nk-product-title h5"><a href="{{ path('app_game', { 'slug' : game.slug }) }}">{{ game.title }}</a></h3>
                <div class="nk-gap-1"></div>
                <span class="nk-product-rating">
                        <span class="nk-product-rating-front" style="width: {{ game.rating }}%;">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <span class="nk-product-rating-back">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                </span>
                <div class="nk-gap-1"></div> {{ game.description|remove_html_entities|slice(0,200) }} ...<div class="nk-gap-2"></div>
                <div class="nk-product-price">{{ game.price }} &euro;</div>
                <div class="nk-gap-1"></div>
                <a href="{{ path('app_cart_add_items',{'id': game.id, 'quantity': '1' }) }}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
            </div>
        </div>
    </div>
{% endmacro %}