{% macro print_scroll_posts(post) %}
<div class="nk-news-box-item nk-news-box-item-active">
    <div class="nk-news-box-item-img">
        <img src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="{{ post.title }}">
    </div>
    <img src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="{{ post.title }}" class="nk-news-box-item-full-img">
    <h3 class="nk-news-box-item-title">{{ post.title }}</h3>
    <span class="nk-news-box-item-categories">
        <span class="bg-main-4">{{ post.topic.name }}</span>
    </span>
    <div class="nk-news-box-item-text">
        <p>{{ post.text|raw }}</p>
    </div>
    <a href="http://google.es" class="nk-news-box-item-url">Read More</a>
    <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> {{ post.createdAt|date }} </div>
</div>
{% endmacro %}

{% macro print_posts(post) %}
<div class="col-md-6 col-lg-3">
    <div class="nk-blog-post">
        <a href="" class="nk-post-img">
            <img src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="He made his passenger captain of one">
            <span class="nk-post-comments-count">1</span>
            <span class="nk-post-categories">
                <span class="bg-main-5">{{ post.topic.name }}</span>
            </span>
        </a>
        <div class="nk-gap"></div>
        <h2 class="nk-post-title h4"><a href="">{{ post.title }}</a></h2>
        <div class="nk-post-text">
            <p>{{ post.text|remove_html_entities|slice(0,150) }} ... </p>
        </div>
        <div class="nk-gap"></div>
        <a href="" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
        <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> {{ post.createdAt|date }}</div>
    </div>
</div>
{% endmacro %}

{% macro print_latest(post) %}
    <div class="col-md-6">
        <!-- START: Post -->
        <div class="nk-blog-post">
            <a href="" class="nk-post-img">
                <img src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="{{ post.title }}">
                <span class="nk-post-comments-count">1</span>
            </a>
            <div class="nk-gap"></div>
            <h2 class="nk-post-title h4"><a href="">{{ post.title }}</a></h2>
            <div class="nk-post-by">
                <img src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="{{ post.title }}" class="rounded-circle" width="35"> by <a href="https://nkdev.info">Wolfenstein</a> {{ post.createdAt|date }}
            </div>
            <div class="nk-gap"></div>
            <div class="nk-post-text">
                <p>{{ post.text|remove_html_entities|slice(0,255) }} ...</p>
            </div>
            <div class="nk-gap"></div>
            <a href="" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
        </div>
        <!-- END: Post -->
    </div>
{% endmacro %}

{% macro tab(post) %}
<div class="nk-blog-post">
    <a href="" class="nk-post-img">
        <img src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="{{ post.title }}">
        <span class="nk-post-categories">
            <span class="bg-main-1">{{ post.topic.name }}</span>
        </span>
    </a>
    <div class="nk-gap-1"></div>
    <h2 class="nk-post-title h4"><a href="">{{ post.title }}</a></h2>
    <div class="nk-post-date mt-10 mb-10">
        <span class="fa fa-calendar"></span>{{ post.createdAt|date }}<span class="fa fa-comments"></span> <a href="#">1 comments</a>
    </div>
    <div class="nk-post-text">
        <p>{{ post.text|remove_html_entities|slice(0,100) }} ...</p>
    </div>
</div>
{% endmacro %}

{% macro latest_posts_footer(post) %}
<div class="col-lg-6">
    <div class="nk-widget-post-2">
        <a href="" class="nk-post-image">
            <img src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="">
        </a>
        <div class="nk-post-title"><a href="">{{ post.title }}</a></div>
        <div class="nk-post-date">
            <span class="fa fa-calendar"></span> {{ post.createdAt|date }} <span class="fa fa-comments"></span> <a href="#">4</a>
        </div>
    </div>
</div>
{% endmacro %}
