{% extends 'base.html.twig' %}

{% block main %}
<div class="nk-main">
    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><span class="fa fa-angle-right"></span></li>
            <li><a href="{{ path('app_catalog') }}">Catalog</a></li>
            <li><span class="fa fa-angle-right"></span></li>
            <li><span>{{ game.title }}</span></li>
        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-8">
                <div class="nk-store-product">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <!-- START: Product Photos -->
                            <div class="nk-popup-gallery">
                                <div class="nk-gallery-item-box">
                                    <a href="{{ asset('uploads/games/' ~ game.image ) }}" class="nk-gallery-item" data-size="1200x554">
                                        <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                                        <img src="{{ asset('uploads/games/' ~ game.image ) }}" alt="{{ game.slug }}">
                                    </a>
                                </div>
                                <div class="nk-gap-1"></div>
                            </div>
                            <!-- END: Product Photos -->
                        </div>
                        <div class="col-md-6">
                            <h2 class="nk-product-title h3">{{ game.title}}</h2>
                            <select class="form-control">
                                <option value="" disabled selected>Select Platform</option>
                                <option value="ps4">PS4</option>
                                <option value="xbox">Xbox 1</option>
                                <option value="pc">PC</option>
                            </select>
                            <div class="nk-product-description">
                                <p>{{ game.description|remove_html_entities|slice(0,450) }}</p>
                            </div>
                            <!-- START: Add to Cart -->
                            <div class="nk-gap-2"></div>
                            <form action="{{ path('app_cart_update_items', { 'id': game.id }) }}" class="nk-product-addtocart">
                                <div class="nk-product-price">€ {{ game.price }}</div>
                                <div class="nk-gap-1"></div>
                                <div class="input-group">
                                    <input type="number" name="cart[quantity]" class="form-control" value="1" min="1" max="21">
                                    <button class="nk-btn nk-btn-rounded nk-btn-color-main-1" id="add-to-cart" data-id-item="{{ game.id }}">Add to Cart</button>
                                </div>
                            </form>
                            <div class="nk-gap-3"></div>
                            <!-- END: Add to Cart -->
                        </div>
                    </div>
                    <!-- START: Share -->
                    <div class="nk-gap-2"></div>
                    <div class="nk-post-share">
                        <span class="h5">Share Product:</span>
                        <ul class="nk-social-links-2">
                            <li><span class="nk-social-facebook" title="Share page on Facebook" data-share="facebook"><span class="fab fa-facebook"></span></span></li>
                            <li><span class="nk-social-twitter" title="Share page on Twitter" data-share="twitter"><span class="fab fa-twitter"></span></span></li>
                            <li><span class="nk-social-pinterest" title="Share page on Pinterest" data-share="pinterest"><span class="fab fa-pinterest-p"></span></span></li>
                        </ul>
                    </div>
                    <!-- END: Share -->
                    <div class="nk-gap-2"></div>

                    {% include 'game/tabs/index.html.twig' %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}