<div class="container">
    <div class="row vertical-gap">
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="{{ asset('template/assets/images/icon-mouse.svg') }}" alt="icon-gamepad">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title"><a href="{{ path('app_catalog', {'page': 1}) }}?filter[platform]=pc">PC</a></h3>
                    <h3 class="nk-feature-title text-main-1"><a href="{{ path('app_catalog', {'page': 1}) }}?filter[platform]=pc">View Games</a></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="{{ asset('template/assets/images/icon-gamepad.svg') }}" alt="icon-gamepad">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title"><a href="{{ path('app_catalog', {'page': 1}) }}?filter[platform]=ps4">PS4</a></h3>
                    <h3 class="nk-feature-title text-main-1"><a href="{{ path('app_catalog', {'page': 1}) }}?filter[platform]=ps4">View Games</a></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="nk-feature-1">
                <div class="nk-feature-icon">
                    <img src="{{ asset('template/assets/images/icon-gamepad-2.svg') }}" alt="icon-gamepad">
                </div>
                <div class="nk-feature-cont">
                    <h3 class="nk-feature-title"><a href="{{ path('app_catalog', {'page': 1}) }}?filter[platform]=xbox">Xbox</a></h3>
                    <h3 class="nk-feature-title text-main-1"><a href="{{ path('app_catalog', {'page': 1}) }}?filter[platform]=xbox">View Games</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>