{% extends 'base.html.twig' %}
{% import 'macros/post.html.twig' as p %}
{% import 'macros/comment.html.twig' as c %}
{% block main %}
  <div class="nk-main">
    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
      <ul class="nk-breadcrumbs">
        <li><a href="{{ path('app_home') }}">Home</a></li>
        <li><span class="fa fa-angle-right"></span></li>
        <li><a href="#">Blog</a></li>
        <li><span class="fa fa-angle-right"></span></li>
        <li><span>{{ post.title }}</span></li>
      </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->
    <div class="container">
      <div class="row vertical-gap">
        <div class="col-lg-8">
          <div class="nk-post-img">
            <img src="{{ asset('uploads/posts/' ~ post.image ) }}" alt="{{ post.title }}">
          </div>
          <div class="nk-gap"></div>
          <!-- START: Post -->
          <div class="nk-blog-post nk-blog-post-single">
            <!-- START: Post Text -->
            <div class="nk-post-text mt-0">
              {{ post.text|remove_html_entities }}
            </div>
            <!-- END: Post Text -->

            <div class="nk-gap"></div>
            <!-- START: Comments -->
            <div id="comments"></div>
            {% if comments is not empty  %}
              <h3 class="nk-decorated-h-2"><span><span class="text-main-1">{{ comments|length }}</span> Comments</span></h3>
              <div class="nk-gap"></div>
              <div class="nk-comments">
                {% for comment in comments %}
                    {{ c.print_comment(comment) }}
                {% endfor %}
              </div>
            {% endif %}
            <!-- START: Reply -->
            <div class="nk-gap-2"></div>
            <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Leave</span> a Reply</span></h3>
            <div class="nk-gap"></div>
            <div class="nk-reply">
                {% include 'post/_reply.html.twig' %}
            </div>
            <!-- END: Reply -->
          </div>
          <!-- END: Post -->
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </div>
{% endblock %}

{% block latest_posts %}
    {% for post in posts %}
      {% if loop.index <= 2 %}
        {{ p.latest_posts_footer(post) }}
      {% endif %}
    {% endfor %}
{% endblock %}